<app-navigation-doctor></app-navigation-doctor>

<legend class="text-center">Dodaj novu vrstu pregleda</legend>

<form>

    <div class="d-flex">
        <input class="form-control me-2" [(ngModel)]="appointmentType._id" name="nameAppId" type="text"
               placeholder="Tip pregleda">
        <input class="form-control me-2 " [(ngModel)]="appointmentType.description" name="nameAppDesc"
               type="text"
               placeholder="Kratak opis">
    </div>
    <br>

    <div class="d-flex">
        <input class="form-control me-2" [(ngModel)]="appointmentType.descriptionStrong" name="nameAppDescStrong"
               type="text"
               placeholder="Kratak opis">
        <input class="form-control me-2 " [(ngModel)]="appointmentType.specialization" name="nameAppSpec"
               type="text"
               placeholder="Duži opis">
    </div>
    <br>

    <div class="d-flex">
        <input class="form-control me-2 " [(ngModel)]="appointmentType.price" name="nameAppPrice" type="number"
               placeholder="Cena">
    </div>

    <br>

    <fieldset id="exitedSpecializations">
        <div class="d-flex">
            <button *ngFor="let spec of specializations" [ngClass]="{'active' : selectionPressed==spec._id}"
                    class="form-control me-2 btn btn-outline-secondary"
                    (click)="chooseSelection(spec._id)">{{spec._id}}
            </button>
        </div>
    </fieldset>

    <br>
    <div class="d-flex">

        <button [ngClass]="{'active' : selectionPressed=='Nova specijalizacija'}"
                class="form-control me-2 btn btn-outline-secondary"
                (click)="buttonNewSpecialization()">Nova specijalizacija
        </button>

        <input class="form-control me-2 " [(ngModel)]="newSpecialization" name="nameSearchField" type="text"
               placeholder="{{newSpecialization}}">
    </div>

    <br>

    <div class="d-flex">
        <button type="submit" (click)="createNewAppointment()" class="btn btn-dark">Registruj pregled</button>
    </div>

</form>

<br>

<div id="alert" class="alert alert-danger" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success" role="alert">
    {{message}}
</div>



