<app-navigation-doctor></app-navigation-doctor>

<legend class="text-center">Profil lekara</legend>

<form>
    <fieldset id="fieldset" class="row m-2" disabled>

        <div class="col-md-6">
            <img class="img-thumbnail" src="{{doctor.image}}" height="300" width="300">
        </div>

        <div class="col-md-6">
            <label for="inputFirstname" class="form-label">Ime</label>
            <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="doctor.firstname"
                   name="firstname">

            <label for="inputLastname" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="inputLastname" [(ngModel)]="doctor.lastname"
                   name="lastname">

            <label for="inputUsername" class="form-label">Koričniko ime</label>
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="doctor.username"
                   name="username">

            <label for="inputAddress" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="doctor.address"
                   name="address">

            <label for="inputPhone" class="form-label">Kontakt telefon</label>
            <input type="text" class="form-control" id="inputPhone" [(ngModel)]="doctor.phone"
                   name="phone">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Mejl</label>
            <input disabled type="email" class="form-control" id="inputMail" [(ngModel)]="doctor.mail"
                   name="email">
        </div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Promenite fotografiju</label>
            <input (change)="onSelectFile($event)" class="form-control" type="file" id="formFile"
                   accept=".png, .jpg">
        </div>

        <div class="col-md-6">
            <label for="inputLicenceId" class="form-label">Licenca</label>
            <input type="text" class="form-control" id="inputLicenceId" [(ngModel)]="doctor.licenceId"
                   name="licenceId">
        </div>

        <div class="col-md-6">
            <label for="inputMedicineBranch" class="form-label">Ogranak medicine</label>
            <input disabled type="text" class="form-control" id="inputMedicineBranch"
                   [(ngModel)]="doctor.medicineBranch"
                   name="medicineBranch">
        </div>

        <div class="col-md-12">
            <label for="dropDown" class="form-label">Specijalizacija</label>
        </div>

        <div class="btn-group">
            <button id="dropDown" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                {{dropdownSelected}}
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li *ngFor="let specialization of specializations">
                    <button (click)="dropDownClicked(specialization._id)" class="dropdown-item"
                            type="button">{{specialization._id}}</button>
                </li>
            </ul>
        </div>

    </fieldset>
    <br>
    <fieldset class="row m-2">
        <div class="col-md-6">
            <button type="submit" (click)="flipDisabled()" class="btn btn-dark">{{buttonDisabledText()}}</button>
        </div>

        <div class="col-md-6">
            <button id="saveChanges" disabled type="submit" (click)="saveChanges()" class="btn btn-dark">Sacuvaj
                promene
            </button>
        </div>
    </fieldset>
</form>

<div id="alert" class="alert alert-danger" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success" role="alert">
    {{message}}
</div>

<br>

<legend class="text-center">Promeni lozinku</legend>
<form>
    <fieldset class="row m-2" id="fieldsetPassword" disabled>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Stara lozinka</label>
            <input type="password" class="form-control" id="inputCheckPassword" [(ngModel)]="checkPassword"
                   name="checkPassword">
        </div>
        <div class="col-md-6">
            <label for="inputMail" class="form-label">Nova lozinka</label>
            <input type="password" class="form-control" id="inputNewPassword" [(ngModel)]="newPassword"
                   name="newPassword">
            <label for="inputMail" class="form-label">Potvrda lozinke</label>
            <input type="password" class="form-control" id="inputConfirmNewPassword" [(ngModel)]="checkNewPassword"
                   name="confirmNewPassword">
        </div>

    </fieldset>
    <br>
    <fieldset class="row m-2">
        <div class="col-md-6">
            <button type="submit" (click)="flipDisabledPassword()"
                    class="btn btn-dark">{{buttonDisabledPasswordText()}}</button>
        </div>

        <div class="col-md-6">
            <button id="saveNewPassword" disabled type="submit" (click)="saveNewPassword()" class="btn btn-dark">
                Sacuvaj novu lozinku
            </button>
        </div>
    </fieldset>
</form>



