<app-navigation-manager></app-navigation-manager>

<legend class="text-center">Menadžer vidi lekare</legend>

<div class="table-responsive-sm">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Telefon</th>
            <th scope="col">Mejl</th>
            <th scope="col">Licenca</th>
            <th scope="col">Specijalizacija</th>
            <th scope="col">Ogranak medicine</th>
            <th scope="col">Dozvoljn pristup</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doctor of doctors; let i = index">
            <td>{{i + 1}}</td>
            <td>{{doctor.firstname}}</td>
            <td>{{doctor.lastname}}</td>
            <td>{{doctor.username}}</td>
            <td>{{doctor.mail}}</td>
            <td>{{doctor.phone}}</td>
            <td>{{doctor.mail}}</td>
            <td>{{doctor.licenceId}}</td>
            <td>{{doctor.specialization}}</td>
            <td>{{doctor.medicineBranch}}</td>
            <td *ngIf="doctor.approved" class="table-success">Da</td>
            <td *ngIf="!doctor.approved" class="table-danger">Ne</td>
        </tr>
        </tbody>
    </table>
</div>

<legend class="text-center">Menadžer vidi pacijente</legend>

<div class="table-responsive-sm">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Adresa</th>
            <th scope="col">Telefon</th>
            <th scope="col">Mejl</th>
            <th scope="col">Dozvoljn pristup</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patients; let i = index">
            <td>{{i + 1}}</td>
            <td>{{patient.firstname}}</td>
            <td>{{patient.lastname}}</td>
            <td>{{patient.username}}</td>
            <td>{{patient.mail}}</td>
            <td>{{patient.phone}}</td>
            <td>{{patient.mail}}</td>
            <td *ngIf="patient.approved" class="table-success">Da</td>
            <td *ngIf="!patient.approved" class="table-danger">Ne</td>
        </tr>
        </tbody>
    </table>
</div>

