<app-navigation-patient></app-navigation-patient>
<legend class="text-center">Profil pacijenta</legend>

<form>
    <fieldset class="row m-2">

        <div class="col-md-6">
            <img class="img-thumbnail" src="{{patient.image}}" height="300" width="300">
        </div>

        <div class="col-md-6">
            <label for="inputFirstname" class="form-label">Ime</label>
            <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="patient.firstname"
                   name="firstname">

            <label for="inputLastname" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="inputLastname" [(ngModel)]="patient.lastname"
                   name="lastname">

            <label for="inputUsername" class="form-label">Koričniko ime</label>
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="patient.username"
                   name="username">

            <label for="inputAddress" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="patient.address"
                   name="address">

            <label for="inputPhone" class="form-label">Kontakt telefon</label>
            <input type="text" class="form-control" id="inputPhone" [(ngModel)]="patient.phone"
                   name="phone">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Mejl</label>
            <input type="email" class="form-control" id="inputMail" [(ngModel)]="patient.mail"
                   name="email">
        </div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Promenite fotografiju</label>
            <input (change)="onSelectFile($event)" class="form-control" type="file" id="formFile"
                   accept=".png, .jpg">
        </div>

    </fieldset>
    <br>
    <fieldset class="row m-2">
        <div class="col-md-12">
            <button id="saveChanges" type="submit" (click)="updateInfo()" class="btn btn-dark">
                Sačuvaj promene
            </button>
        </div>
    </fieldset>
</form>

<div id="alert" class="alert alert-danger m-2" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success m-2" role="alert">
    {{message}}
</div>


<legend class="text-center">Promeni lozinku</legend>
<form>
    <fieldset class="row m-2">

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Nova lozinka</label>
            <input type="password" class="form-control" id="inputNewPassword" [(ngModel)]="newPassword"
                   name="newPassword">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Stara lozinka</label>
            <input type="password" class="form-control" id="inputCheckPassword" [(ngModel)]="checkPassword"
                   name="checkPassword">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Potvrda lozinke</label>
            <input type="password" class="form-control" id="inputConfirmNewPassword" [(ngModel)]="checkNewPassword"
                   name="confirmNewPassword">
        </div>

        <div class="col-md-6">
            <br>
            <button id="saveNewPassword" type="submit" (click)="updatePassword()" class="btn btn-dark m-2">
                Sačuvaj novu lozinku
            </button>
        </div>

    </fieldset>
</form>
