<app-navigation-patient></app-navigation-patient>

<legend>Profil pacijenta</legend>

<form class="row g-3">

    <div class="col-md-6">
        <img class="img-thumbnail" src="{{patient.image}}" height="300" width="300">
    </div>

    <div class="col-md-6">
        <label for="inputFirstname" class="form-label">Ime</label>
        <input disabled type="text" class="form-control" id="inputFirstname" [(ngModel)]="patient.firstname" name="firstname">

        <label for="inputLastname" class="form-label">Prezime</label>
        <input disabled type="text" class="form-control" id="inputLastname" [(ngModel)]="patient.lastname" name="lastname">

        <label for="inputUsername" class="form-label">Koričniko ime</label>
        <input disabled type="text" class="form-control" id="inputUsername" [(ngModel)]="patient.username" name="username">

        <label for="inputAddress" class="form-label">Adresa</label>
        <input disabled type="text" class="form-control" id="inputAddress" [(ngModel)]="patient.address" name="address">

        <label for="inputPhone" class="form-label">Kontakt telefon</label>
        <input disabled type="text" class="form-control" id="inputPhone" [(ngModel)]="patient.phone" name="phone">
    </div>

    <div class="col-md-6">
        <label for="inputMail" class="form-label">Mejl</label>
        <input disabled type="email" class="form-control" id="inputMail" [(ngModel)]="patient.mail" name="email">
    </div>

    <div class="col-md-6">
        <label for="formFile" class="form-label">Promenite fotografiju</label>
        <input disabled (change)="onSelectFile($event)" class="form-control" type="file" id="formFile" accept=".png, .jpg">
    </div>

    <div class="col-md-6">
        <button type="submit" (click)="removeDisabled()" class="btn btn-dark">Izmeni ingormacije</button>
    </div>

    <div class="col-md-6">
        <button type="submit" (click)="saveChanges()" class="btn btn-dark">Sacuvaj promene</button>
    </div>

</form>

<div id="alert" class="alert alert-danger" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success" role="alert">
    {{message}}
</div>

