<app-navigation-patient></app-navigation-patient>

<legend class="text-center">Profil lekara</legend>

<form>
    <fieldset id="fieldset" class="row m-2" disabled>

        <div class="col-md-6">
            <img alt="" class="img-thumbnail" src="{{doctor.image}}" height="300" width="300">
        </div>

        <div class="col-md-6">
            <label for="inputFirstname" class="form-label">Ime</label>
            <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="doctor.firstname"
                   name="firstname">

            <label for="inputLastname" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="inputLastname" [(ngModel)]="doctor.lastname"
                   name="lastname">

            <label for="inputUsername" class="form-label">Koričniko ime</label>
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="doctor.username"
                   name="username">

            <label for="inputAddress" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="doctor.address"
                   name="address">

            <label for="inputPhone" class="form-label">Kontakt telefon</label>
            <input type="text" class="form-control" id="inputPhone" [(ngModel)]="doctor.phone"
                   name="phone">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Mejl</label>
            <input type="email" class="form-control" id="inputMail" [(ngModel)]="doctor.mail"
                   name="email">
        </div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Promenite fotografiju</label>
            <input class="form-control" type="file" id="formFile"
                   accept=".png, .jpg">
        </div>

        <div class="col-md-6">
            <label for="inputLicenceId" class="form-label">Licenca</label>
            <input type="text" class="form-control" id="inputLicenceId" [(ngModel)]="doctor.licenceId"
                   name="licenceId">
        </div>

        <div class="col-md-12">
            <label for="dropDown" class="form-label">Specijalizacija</label>
            <input type="text" class="form-control" id="dropDown" [(ngModel)]="doctor.specialization"
                   name="specialization">
        </div>

        <div class="col-md-12">
            <label for="inputMedicineBranch" class="form-label">Ogranaka medicine</label>
            <input type="text" class="form-control" id="inputMedicineBranch" [(ngModel)]="doctor.medicineBranch"
                   name="medicineBranch">
        </div>

    </fieldset>
    <br>
</form>

<app-patient-schedule-appointment></app-patient-schedule-appointment>




