<app-navigation-unregistered></app-navigation-unregistered>

<form>
    <legend>Registracija pacijenta</legend>
    <div class="row mb-3">
        <label for="inputName" class="col-sm-2 col-form-label">Ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" [(ngModel)]="firstname">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputLastname" class="col-sm-2 col-form-label">Prezime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLastname" [(ngModel)]="lastname">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputUsername" class="col-sm-2 col-form-label">Koricniko ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="username">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputAddress" class="col-sm-2 col-form-label">Adresa</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="address">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputPhone" class="col-sm-2 col-form-label">Kontakt telefon</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPhone" [(ngModel)]="phone">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputMail" class="col-sm-2 col-form-label">Mejl</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputMail" [(ngModel)]="mail">
        </div>
    </div>

    <button type="submit" (click)="register()" class="btn btn-dark">Registruj se</button>
    {{message}}

</form>
