<app-navigation-unregistered></app-navigation-unregistered>

<form>
    <legend>Prijavite se kao pacijent</legend>

    <div class="row mb-3">
        <label for="inputUsername" class="col-sm-2 col-form-label">Koričniko ime</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="username">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Lozinka</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password">
        </div>
    </div>

    <button type="submit" (click)="loginPatient()" class="btn btn-dark">Prijavi se</button>
    {{message}}

</form>


