<app-navigation-patient></app-navigation-patient>

<legend class="text-center">Obaveštenja</legend>

<div class="table-responsive-sm m-2">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Datum</th>
            <th>Vidjeno</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let notification of notifications;  let i = index">
            <td>{{i + 1}}</td>
            <td>{{notification.name}}</td>
            <td>{{notification.description}}</td>
            <td>{{notification.date}}</td>
            <td>
                <!--        on change checkbox update notification.seen-->
                <input type="checkbox" (change)="updateSeen(notification)" [checked]="notification.seen">
            </td>
        </tr>
        </tbody>
    </table>
</div>
