<app-navigation-manager></app-navigation-manager>
<legend class="text-center">Menadžer vidi sve pacijente</legend>

<div class="table-responsive-sm m-2">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisniko ime</th>
            <th>Mejl</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Pristup</th>
            <th>Obrisan</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patients;  let i = index">
            <td>{{i + 1}}</td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.firstname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.lastname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.username">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.mail">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.address">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.phone">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="patient.approved">
                    <option value="true">Da</option>
                    <option value="false">Ne</option>
                </select>
            </td>
            <td>
                <select class="form-select" [(ngModel)]="patient.deleted">
                    <option value="true">Da</option>
                    <option value="false">Ne</option>
                </select>
            </td>
            <td>
                <button (click)="changePatient(patient)" class="btn btn-dark"
                        type="button">Sačuvaj
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<legend class="text-center">Menadžer vidi sve lekare</legend>

<div class="table-responsive-sm m-2">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th>#</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisniko ime</th>
            <th>Mejl</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Licenca</th>
            <th>Specijalizacija</th>
            <th>Ogranak medicine</th>
            <th>Pristup</th>
            <th>Blokiran</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doctor of doctors;  let i = index">
            <td [ngClass]="{'danger' : doctor.approved}">{{i + 1}}</td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.firstname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.lastname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.username">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.mail">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.address">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.phone">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.licenceId">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.specialization">
                    <option *ngFor="let specialization of specializations"
                            [value]="specialization">{{specialization._id}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.medicineBranch">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.approved">
                    <option value="true">Da</option>
                    <option value="false">Ne</option>
                </select>
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.deleted">
                    <option value="true">Da</option>
                    <option value="false">Ne</option>
                </select>
            </td>
            <td>
                <button (click)="changeDoctor(doctor)" class="btn btn-dark"
                        type="button">Sačuvaj
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="alert" class="alert alert-danger" role="alert">
    {{message}}
</div>
